<div class="event-prizes">
  <h4 class="event-prizes__title">À gagner !</h4>
  <ul>
    <li class="event-prizes__item">
      <strong><span>10 Pass VIP</span> pour 2 personnes</strong><br>
      comprenant l'accès au concert + la nuit d'hôtel
    </li>
    <li class="event-prizes__item">
      <strong><span>100 Invit'</span> pour 2 personnes</strong><br>
      pour le concert
    </li>
  </ul>
</div>
