
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Ibis Admin</h1>
    <p class="lead">
        Outil d'administration permettant de gérer les events Ibis<br />
        Cet espace d'administration est protégé par IP et par identifiants.
    </p>
    @*<p><a href="@Url.Action("Search")" class="btn btn-primary btn-large">Rechercher un client ou une commande &raquo;</a></p>
    <p><a href="@Url.Action("Summary","Order")" class="btn btn-primary btn-large">Récapitulatif des commandes passées &raquo;</a></p>*@
</div>
