@{
    ViewBag.Title = "Aucun live prévu pour le moment";
}

<div class="no-game">
  <img src="~/Statics/img/ui/logo-desktop-h.png" alt="Virgin Radio Live by ibis" class="no-game__logo">
  <div class="heading-event">
    <h1 class="heading-event__title heading-event__title--main-title">Aucun live</h1>
    <h2 class="heading-event__title heading-event__title--subtitle">n'est prévu pour le moment</h2>
  </div>
  <div class="no-game__next">
    <p class="no-game__next-copy">Abonne-toi pour connaître les prochaines dates&nbsp;!</p>
    <ul class="no-game__social">
      <li class="no-game__icon no-game__icon--facebook"><a href="https://www.facebook.com/ibis.fr"><img src="~/Statics/img/ui/icon-facebook.png" alt="Facebook"></a></li>
      <li class="no-game__icon no-game__icon--twitter"><a href="https://twitter.com/ibisHotels_FR"><img src="~/Statics/img/ui/icon-twitter.png" alt="Twitter"></a></li>
    </ul>
  </div>
</div>
